body{
    overflow-x: hidden;
}

.navbar-brand{
    font-size: 25px;
    position: relative;
    top: 3px;
    left: 30px;
    letter-spacing: 0.5px;
}

#brandName {
    color: #81b2ef;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 5px;
    font-family: cursive;
    left: -20px;
    letter-spacing: 5.8px;
}

#leftnavigations{
    position: relative;
    width: 250px;
    background-color: #eeedea;
    height: 100vh;
    border-width: 2px;
    border-color: #032344;
}

.navigate{
    font-size: 16px;
    letter-spacing: 0.6px;
    position: relative;
    left: 14%;
    padding: 11px;
    top: 68px;
    cursor: pointer;
    border-radius: 25px;
    z-index: 10;
    color: #000000;
    text-align: center;
    font-family: cursive;
    border-bottom: double;
    background-color: white;
    border-color: #032344;
    -webkit-transition: all 500ms ease;
}

.navigate:hover{
    color: white;
    background-color: #042731;
    -webkit-transition: all 500ms ease;
}

#leftnavigations >div{
    width: 192px;
    padding: 6px;
}

/*============================================================DashBoard section 1======================================================================*/

#section1DashBoard{
    position: absolute;
    left: 20%;
    top: 65px;
    height: 100vh;
}
 .card{
     padding: 10px;
     box-shadow: #071b4c 2px 2px;
     border-radius: 1px 50px 1px;
 }

 .cardMain{
     padding-top: 20px;
 }

 .card> div > h6{
     position: relative;
     text-align: center;
     font-size: 25px;
 }

.card> div > h5{
    position: relative;
    text-align: center;
    font-size: 20px;
}

#todayBookings{
    font-size: 22px;
    color: #3b0480;
    position: relative;
    left: 40%;
    top: 90px;
}

#table{
    position: relative;
    top: 105px;
    left: -26px;
}

/*============================================================Customer Section 2 ==============================================================*/

#section2Customer{
    position: relative;
    left: 16.5%;
    top: 0;
    height: 100vh;
    background-color: antiquewhite;
}